<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
			<div 	>
				<h2>Logga in</h2>
				<form  action="" method="post">
					<div class="col-xs-12">
					   <div class="form-group">					    
					      <label  for="email">Username</label>
							<input type="text" id="email" name="username" class="form-control no-border-radius" placeholder="" autocomplete="off">		
						</div>					
					</div>
					<div class="col-xs-12">						
					    <div class="form-group">					    
							<label class="textHeaderForm" for="pass">Lösenord</label>
							<input type="password" id="pass" name="password" class="form-control no-border-radius" placeholder="" autocomplete="off">	
						</div>					
					</div>					
					<div class="col-xs-12">						
					    <div>					    
							<button type="submit" name="login" class="btn myBtn">Logga in</button>													
						</div>					
					</div>
				</form>
				<div class="clearfix"></div>

			</div>
		</div>
			<div>Dont have a user? Login here 
				<a href="./createUserfrom.html" type="submit" name="createNewUser" class="btn myBtn">Create New User</button>
				
				</div>

	</div>
</div>