

        <div class="container">
               <div class="row">
                <div class="col-lg-6">
                  
                    <form name="sentMessage"  >
                        <div class="row control-group">
                            <div class="form-group col-xs-12 ">
                            {{donelistitem.task}} :
                              {{donelistitem.score}}
                            
                            </div>
                        </div>
                  
                                         
                       
                    
                    </form>
                </div>
            </div>
        </div>

