.todolist {

	margin-top: 10%;
	
}


#contact {
	background-color: #d9dcdc;
}

/*Inspiration Page*/
.inspoInfo h2 {
	text-align: center;
}


/* Tipsinfo Page */
.tips h2 {
	text-align: center;
}


/* Aboutgoat Page */
.goat h2 {
	text-align: center;
}

/* Aboutpoint Page */
.point h2 {
	text-align: center;





