    <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>The concept of Point Game is to help you become more efficient in you’re daily life by structuring you’re planning. Point game is a todo-list that wants to help you take on the hard and time-consuming tasks of you’re daily life so you can get more free time without stress. You collect points for each todo-list where every item in the list is worth a number of points witch you have given them by choosing witch one is the hardest or most important. It a competition against yourself to collect as many points as you can, you get the points when an item in the list is done. </p>
                </div>
                <div class="col-lg-4">
                    <p>We are a group of students that realised many need help reaching their goals. A lot of time goes to waste without planning you end up pushing things aside and getting stressed.  We created Point Game so you have a tool that makes it easier and more fun to get efficient in you’re daily life witch will lead to reaching your goals. </p>
                </div>
            </div>



