
<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About Goat Team</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="templates/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="templates/css/freelancer.css" rel="stylesheet">

    <!-- Own styling -->
    <link href="templates/css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="templates/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="modal-content goat">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Goat Team</h2>
                        <hr class="star-primary">
                        <img src="templates/img/portfolio/goatLogo.png" class="img-responsive" alt=""><br>
                       <p>We are a group of students that realised many need help reaching their goals. A lot of time goes to waste without planning you end up pushing things aside and getting stressed.  We created Point Game so you have a tool that makes it easier and more fun to get efficient in you’re daily life witch will lead to reaching your goals. </p>
                        <a href="../this/index.php"><img src="templates/img/portfolio/arrow.png"></a>
                        <a href="../this/index.php">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
  

  

</body>
</html>




