 <!-- Inspiration Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Inspiration</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/bookklar.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/gymklar.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/dollarklar.png" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>




    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>STUDIES</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/bookklar.png" class="img-responsive img-centered" alt="">
                            <p>Debbie 29 was working in a supermarket and really had big dreams, she wanted to become a doctor. But with poor grades and needing to work to provide for her daughter she did not have the time to fulfil her dream. Then she started to study again and by structuring her time she changed her efficiency and could study more and faster. That made it possible for her to get her grades up and get in to med-school!</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>HEALTH</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/gymklar.png" class="img-responsive img-centered" alt="">
                            <p>Do you want to get started with you’re training? Mary 36 did, and she could not find the time at first because she has three children and full time job. She started to plan her tasks and found that she had more time than she thought. Five hours a week she could now go to the gym, and 6 months later she was 30 pounds lighter!</p>
                
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>ECONOMY</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/dollarklar.png" class="img-responsive img-centered" alt="">
                            <p>Saving money can be really difficult, but Mark 42 changed his way buy being more efficient with his time. He never had any money left by the end of the month and wanted to start saving for a trip with his wife. When starting to organize his life he had much more time to create a budget that he could follow. By the end of the year he had saved $10'000  and could go on his trip! </p>
                    
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
 
