

        <div class="container">
               <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                              <p>{{listitem.task}} :
                              {{listitem.score}} Points</p>
                            </div>
                        </div>
                       
                                         
                       
                    
                    </form>
                </div>
            </div>
        </div>

