



    <div class="todolist">
        <div class="container">
               <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  	
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                            <h1><a class="col-lg-8 col-lg-offset-5" href='?/Todolist/single/{{todolist.id}}'>{{todolist.name}}</a></h1>
                            </div>
                        </div>
                       
                                         
                       
                    
                    </form>
                </div>
            </div>
        </div>

    </div>
