
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Point Game</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="templates/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="templates/css/freelancer.css" rel="stylesheet">
    <!-- Own CSS -->
    <link href="templates/css/style.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="templates/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Scripts -->
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>
    <body>    
        <div class="modal-content point">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>    
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Point Game</h2>
                            <hr class="star-primary">
                            <img src="templates/img/portfolio/aboutPointLogo.png" class="img-responsive" alt=""><br>
                          <p>The concept of Point Game is to help you become more efficient in you’re daily life by structuring you’re planning. Point game is a todo-list that wants to help you take on the hard and time-consuming tasks of you’re daily life so you can get more free time without stress. You collect points for each todo-list where every item in the list is worth a number of points witch you have given them by choosing witch one is the hardest or most important. It a competition against yourself to collect as many points as you can, you get the points when an item in the list is done. </p>
                            <a href="index.php#about"><img src="templates/img/portfolio/arrow.png"></a>
                            <a href="index.php#about">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>     
        <!-- jQuery -->
        <script src="templates/js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="templates/js/bootstrap.min.js"></script>
        <!-- Plugin JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="templates/js/classie.js"></script>
        <script src="templates/js/cbpAnimatedHeader.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <!-- Custom Theme JavaScript -->
        <script src="templates/js/freelancer.js"></script>

    </body>
</html>