<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Inspiration Info</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="templates/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="templates/css/freelancer.css" rel="stylesheet">
    <!-- Own CSS -->
    <link href="templates/css/style.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="templates/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Scripts -->
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>
    <div class="inspoInfo">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 id='studies'>STUDIES</h2>
                            <hr class="star-primary">
                            <img src="templates/img/portfolio/bookklar.png" class="img-responsive img-centered" alt="">
                            <br>
                            <p>Debbie 29 was working in a supermarket and really had big dreams, she wanted to become a doctor. But with poor grades and needing to work to provide for her daughter she did not have the time to fulfil her dream. Then she started to study again and by structuring her time she changed her efficiency and could study more and faster. That made it possible for her to get her grades up and get in to med-school!</p>
                            <a href="index.php#inspiration"><img src="templates/img/portfolio/arrow.png"></a>
                            <a href="index.php#inspiration">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 id='health'>HEALTH</h2>
                            <hr class="star-primary">
                            <img src="templates/img/portfolio/gymklar.png" class="img-responsive img-centered" alt="">
                            <br>
                            <p>Do you want to get started with you’re training? Mary 36 did, and she could not find the time at first because she has three children and full time job. She started to plan her tasks and found that she had more time than she thought. Five hours a week she could now go to the gym, and 6 months later she was 30 pounds lighter!</p>
                            <a href="index.php#inspiration"><img src="templates/img/portfolio/arrow.png"></a>
                            <a href="index.php#inspiration">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 id='economy'>ECONOMY</h2>
                            <hr class="star-primary">
                            <img src="templates/img/portfolio/dollarklar.png" class="img-responsive img-centered" alt="">
                            <br>
                            <p>Saving money can be really difficult, but Mark 42 changed his way buy being more efficient with his time. He never had any money left by the end of the month and wanted to start saving for a trip with his wife. When starting to organize his life he had much more time to create a budget that he could follow. By the end of the year he had saved $10'000  and could go on his trip! </p>
                            <a href="index.php#inspiration"><img src="templates/img/portfolio/arrow.png"></a>
                            <a href="index.php#inspiration">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</body>
</html>
    
    
 