<div class="todolist">

        <div class="container">
               
                <div class="col-lg-8 col-lg-offset-2">
                  	
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">


                            <h1><a class="col-lg-6 col-lg-offset-2" href='?/Todolist/single/{{todolist.id}}'>{{todolist.name}}</a></h1>


                            <a href="?/Todolist/deletetodolist/{{todolist.id}}" name="deletetodolist" method="post" value="{{todolist.id}}" type="submit" class="btn btn-success btn-lg">Delete</a>

                            </div>
                        </div> 
                    
                    </form>
                </div>
           
        </div>

    </div>
 	